#page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 99%;
    height: 99%;
    overflow: hidden;
}

#drag1 {
    position: absolute;
    border: solid #aaaaaa;
    resize: both;
    overflow: auto;
}

#postItGenerate {
    float: left;
    width: 10%;
    height: 20%;
}

#resizeAuto {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 25%;
    left: 25%;
    /*background-color: blue;*/
    border: solid #aaaaaa;
}