#page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 99%;
    height: 99%;
    overflow: hidden;
}

#drag1 {
    position: absolute;
    border: solid #aaaaaa;
    resize: both;
    overflow: auto;
}

#postItGenerate {
    float: left;
    width: 15%;
    height: 25%;
}

#resizeAuto {
    width: 60%;
    height: 60%;
    position: absolute;
    bottom: 132.8px;
    left: 20%;
    /*background-color: blue;*/
    border: solid #aaaaaa;
}