#page
{
	position:absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#drag1 {
    position: absolute;
    border: solid #aaaaaa;
}
#resizeAuto {
    width: 30%;
    height: 30%;
		position : absolute;
		bottom : 0 ;
		left: 35%;
		background-color: blue;
    border:solid #aaaaaa;
}
