textarea{
	border:none;
	display: inline-block;
	background-color: #F0E000;
	margin-left:0.5px;
	margin-right: 0.5px;
	margin-bottom:0.5px;
	margin-top:0.5px;
}



canvas{
	width: 95%;
	height: 95%;
	resize:both;
}

#page{
	border: solid black 1px;
}

.postIt
{
	position: absolute;
	border: solid #ffb000 1%;
	background-color: #f0e000;
	resize: both;
	overflow: auto;
	padding: 2px;
}

.buttonApp
{
	width: 44px ;
	height: 30px;
}
