textarea {
    position: absolute;
    resize: none;
    width: 95%;
    height: 70%;
    /*display: block;*/
    background-color: #F8F587;
    /*margin-left: 10px;
    margin-bottom: 10%;
    margin-top: 10px;*/
    /*margin-left: 1%;*/
    margin-bottom: 2%;
    float: right;
    border: transparent;
}

canvas {
    position: center;
    border: 1px solid #999;
    border-radius: 20px;
    display: block;
    background: #F8F587;
    cursor: crosshair;
}

#page {
    border: solid black 1px;
}

.postIt {
    position: absolute;
    border: solid #000000 1px;
    box-shadow: 3px 3px 0px #aaa;
    background-color: #F8F587;
    resize: both;
    overflow: hidden;
    /*padding: 9px;*/
}

.buttonApp {
    width: 14%;
    height: auto;
    max-height: auto;
    max-width: 30px;
}

#red, #blue, #green, #yellow, #black, #purple, #pink, #orange, #brown, #white {
  border-radius: 50%;
  padding: 9px;
  outline: none;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: #F8F587;
}

#black {
    background-color: black;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}

#orange {
    background-color: orange;
}

#brown {
    background-color: brown;
}

#white {
    background-color: white;
}

.buttonHide {
    width: 14%;
    height: auto;
    max-height: auto;
    max-width: 30px;
}
